.root {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 12px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  margin-bottom: 29px;
}

.item {
  margin-right: 24px;
}
