.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
}

.article {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black);
}

.priceListItem {
  display: flex;
  align-items: center;
  gap: 24px;
}

.priceList {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.success {
  color: var(--green);
}

.failure {
  color: var(--red);
}

.heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 48px;
  color: var(--black);
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  margin-bottom: 32px;
  margin-top: 24px;
}

.pdfLink {
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #49494a;
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 12px;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  min-width: 120px;
}

.unit {
  font-size: 14px;
  line-height: 17px;
  background-color: var(--dark-gray);
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff;
  display: inline;
}

@media screen and (max-width: 640px) {
  .main {
    grid-template-columns: 1fr;
  }
  .header {
    flex-direction: column-reverse;
  }
}
