.root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #111111;
  margin-bottom: 0;
  margin-top: 16px;
}

.short {
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.5;
  color: #111111;
}

.headliner {
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: auto;
}

.headliner .cover {
  height: 500px;
}

.cover {
  height: 372px;
  background-size: 100%;
  border-radius: 10px;
  background-position: center center;
  transition: 0.2s ease;
  background-repeat: no-repeat;
}

.root:hover .cover {
  background-size: 105%;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .headliner {
    grid-template-columns: 1fr;
  }
  .headliner .cover {
    height: 200px;
  }
  .cover {
    background-size: cover;
    height: 200px;
  }

  .root {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 16px;
  }
  .button {
    /* margin-top: -16px !important; */
  }
}
