.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 48px;
}

.brand > img {
  max-width: 100%;
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 40px;
  }
  .brand {
    text-align: center;
  }
  .grid {
    gap: 32px;
    justify-content: center;
  }
}
