.root {
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  height: 420px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.content {
  padding: 32px;
  height: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    179.74deg,
    rgba(6, 6, 6, 0.22) -5.1%,
    rgba(6, 6, 6, 0.58) 105.01%
  );
  transition: 0.3s ease all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content:hover {
  background: linear-gradient(
    179.74deg,
    rgba(6, 6, 6, 0.5) -5.1%,
    rgba(6, 6, 6, 0.8) 105.01%
  );
}

.heading {
  font-size: 30px;
  line-height: 36px;
  color: var(--white);
  font-weight: bold;
}

.description {
  height: 40%;
  overflow: hidden;
}

.description > p {
  /* max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.description,
.description > p {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .root {
    height: 320px;
  }

  .content {
    justify-content: flex-start;
  }
  .heading {
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    height: auto;
    font-size: 18px;
  }
}
