.root {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
}

.root path {
  fill: var(--orange);
}

.animating {
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
