.root {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  color: var(--black);
  background: var(--white);
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
  font-family: inherit;
  border: 2px solid transparent;
}

.sizeM {
  padding: 14px 24px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 500;
}

.sizeS {
  padding: 9px 24px;
  font-size: 12px;
  border-radius: 16px;
  line-height: 14px;
  font-weight: 500;
}

.sizeXS {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 14px;
}

.white {
  background: var(--white);
  color: var(--black);
}

.blue {
  background: var(--blue);
  color: var(--white);
}

.red {
  background: var(--red);
  color: var(--white);
}

.gray {
  background: var(--gray);
  color: var(--black);
}

.blueBordered {
  background: transparent;
  color: var(--blue);
  border-color: var(--blue);
  border-width: 2px;
  border-style: solid;
}

.blueBordered:hover {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.blue:hover {
  background: var(--dark-blue);
}

.red:hover {
  background: var(--dark-red);
}

.white:hover {
  background: var(--gray);
}

.black:hover {
  background: var(--white);
  color: var(--black);
}

.orange {
  background-color: #e08b09;
  color: var(--white);
}

.orange:hover {
  background-color: #c07608;
  color: var(--white);
}

.black {
  background: var(--black);
  color: var(--white);
}

.blackOnWhite:hover {
  background: var(--light-black);
  color: var(--white);
}

.blackOnWhite {
  background: var(--black);
  color: var(--white);
}

.blue {
  background: var(--blue);
}

.orange {
  background-color: #e08b09;
  color: var(--white);
}

.orange:hover {
  background-color: #c07608;
  color: var(--white);
}

.green {
  background: #32bc42;
  color: var(--white);
}

.green:hover {
  background: #258d31;
  color: var(--white);
}

.blue:hover {
  background: var(--dark-blue);
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.disabled {
  background: var(--disabled);
  border-color: var(--disabled);
  color: var(--white);
  cursor: default;
}

.disabled:hover {
  background: var(--disabled);
  border-color: var(--disabled);
  color: var(--white);
}

.link,
.whiteLink {
  border: none;
  background: transparent;
  padding: 0;
  font-weight: 500;
  line-height: 36px;
  color: var(--blue);
}

.linkButton {
  border: none;
  background: transparent;
}

.link {
  color: var(--blue);
  border-bottom: 1px dotted var(--blue);
  border-radius: 0;
  line-height: 1;
}

.link:hover {
  color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.whiteLink {
  color: var(--white);
}

.isLoading {
  color: transparent !important;
}

.isLoading.black:hover {
  background: var(--black) !important;
  color: var(--white);
}
