.root {
  font-size: 24px;
  line-height: 1.5;
  color: #111111;
}

.root:not(:last-child) {
  margin-bottom: 36px;
}

@media screen and (max-width: 640px) {
  .root:not(:last-child) {
    margin-bottom: 16px;
  }
}
