.root {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  padding-top: 32px;
  overflow-y: scroll;
  z-index: 100;
  align-items: center;
}

.formContainer {
  display: flex;
  align-items: center;
  height: auto;
  background-color: var(--light-gray);
  position: relative;
  border-radius: 10px;
  max-width: 600px;
  padding: 0 48px;
  margin: 0 auto;
  padding-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  line-height: '72px';
  margin-bottom: 4px !important;
  font-weight: 500;
}

.subtitle {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
  font-weight: normal;
}

.close {
  z-index: 100;
  position: absolute;
  right: 24px;
  top: 24px;
}

.form {
  padding-bottom: 120px;
  width: 100%;
}

@media screen and (max-height: 840px) {
  .formContainer {
    height: auto;
  }
}

@media screen and (max-width: 640px) {
  .formContainer {
    height: auto;
  }
  .root {
    height: auto;
    overflow-x: hidden;
  }

  .form {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 440px) {
  .formContainer {
    padding: 16px 16px;
    max-height: 100vh;
    box-sizing: border-box;
  }
  .heading {
    font-size: 24px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 1.2;
  }
  .close {
    z-index: 100;
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .root {
    max-height: 100vh;
    align-items: flex-start;
    padding-bottom: 24px;
  }
}
