.root {
}

.dot {
  background: #dddddd;
  height: 12px;
  width: 12px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.dot:not(:last-child) {
  margin-right: 16px;
}

.dot.active {
  background: #aaaaaa;
}

.dot svg {
  display: none;
}

.dots {
  position: relative;
  top: 40px;
  width: 100%;
}

.left {
  transform: translateX(-50%);
}

.right {
  transform: rotate(180deg) translateX(-50%) !important;
}

@media screen and (max-width: 600px) {
  .left {
    transform: translateX(10%);
  }
  .right {
    transform: rotate(180deg) translateX(10%) !important;
  }
}
