.root {
  padding-top: 176px;
  padding-bottom: 120px;
  background: #fafafafa;
}
.title {
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 24px;
}

.version {
  margin-bottom: 120px;
}
.text {
  white-space: pre-line;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.root strong {
  font-weight: 500;
}

.digit {
  position: absolute;
  text-align: right;
  left: -50px;
  width: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transform: translateY(-1px);
}

.personalDataTitle {
  margin-top: 120px;
  margin-bottom: 64px;
}

@media screen and (max-width: 600px) {
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #111111;
  }

  .digit {
    position: static;
    font-weight: normal;
  }

  .digit:after {
    content: '.';
  }
  .root strong .digit {
    font-weight: 500;
  }
}
