.root {
  padding-top: 176px;
  padding-bottom: 120px;
  background: #fafafafa;
}
.title {
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 24px;
}
.policy {
  white-space: pre-line;
}

@media screen and (max-width: 640px) {
  .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #111111;
  }

  .digit {
    position: static;
    font-weight: normal;
  }

  .digit:after {
    content: '.';
  }
  .root strong .digit {
    font-weight: 500;
  }
}
