.clientsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}

.object {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 60px;
}

.cardContent {
  padding: 32px;
  padding-left: 0;
  padding-right: 0;
}

.content {
  padding-right: 64px;
}

.slideImg {
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
}

.objects {
  display: grid;
  grid-template-columns: auto;
  gap: 32px;
}

@media screen and (max-width: 640px) {
  .object {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .cardContent {
    padding: 16px;
  }
  .clientsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
