.root {
  padding-bottom: 116px;
}

.image {
  height: 240px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.robots {
  transform: scale(0.6);
}

@media screen and (max-width: 960px) {
  .image {
    height: auto;
    margin-bottom: 18px;
    text-align: left;
    margin-top: 50px;
  }
  .integrateFast {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .image {
    height: auto;
    margin-bottom: 18px;
    text-align: center;
    margin-top: 32px;
  }

  .integrateFast {
    margin-bottom: 50px;
  }
}
