.layout {
  /* display: grid;
  grid-template-columns: 280px 1fr;
  gap: 64px; */
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  align-items: flex-start;
}

@media screen and (max-width: 640px) {
  .layout {
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 64px; */
  }

  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .heading {
    font-size: 32px;
  }
}
