.submitPolicy {
  font-size: 12px;
  line-height: 16px;
}

.policyLink {
  font-weight: 500;
  color: inherit;
}

.policyLink:visited {
  color: inherit;
}

.submitSection {
  display: grid;
  grid-template-columns: 130px 210px;
  grid-gap: 16px;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .submitPolicy {
    font-size: 10px;
    line-height: 14px;
  }
}

@media screen and (max-width: 320px) {
  .submitSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 16px;
    align-items: center;
  }
}
