.root {
  display: grid;
  grid-template-columns: 48px auto;
  gap: 16px;
  align-items: center;
  font-style: normal;

  font-weight: normal;
  color: #49494a;
  font-size: 14px;
  line-height: 17px;
}

.root strong {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.light.root {
  color: #fff;
}

.svg {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 350px) {
  .root {
    gap: 10px;
    grid-template-columns: 36px auto;
  }
  .strong {
    font-size: 14px;
  }
}
