.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
}

.section {
  padding-top: 0 !important;
}

.cardContent {
  padding: 32px;
}

.text {
  padding: 32px;
  padding-top: 0;
}
.conceptionItem {
  display: grid;
  gap: 24px;
  grid-template-columns: 64px 1fr;
}

.img {
  background-size: cover;
  max-height: 400px;
}

.sectionImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media screen and (max-width: 640px) {
  .h1 {
    font-size: 20px;
  }
  .root .conceptionImage {
    max-width: 100px;
  }

  .section {
    padding-top: 64px !important;
  }

  .h2 {
    font-size: 32px !important;
    line-height: 1.2 !important;
  }
  .grid {
    padding: 10px;
    gap: 32px;
  }

  .cardContent,
  .text {
    padding: 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .conceptionItem {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
  }

  .conceptionImage {
    width: 64px !important;
  }

  .img {
    height: 160px;
  }

  .card {
    box-shadow: none !important;
  }
  .h2 {
    margin-bottom: 16px !important;
    font-size: 36px !important;
    line-height: 1.2 !important;
  }

  .extraTitle {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.2;
  }
}
