.root {
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro {
  margin-bottom: 64px;
}

.headliner {
  margin-bottom: 48px;
}
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 32px;
}

@media (max-width: 600px) {
  .articles {
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .root {
    padding-top: 100px;
  }
}
