@import './fonts.css';
@import '~react-image-gallery/styles/css/image-gallery.css';

body {
  min-width: 320px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  font-family: 'TT Norms', sans-serif;
  font-variant: normal;
  font-feature-settings: 'liga' off;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  --accent-color: var(--blue);
  --light-gray: #eeeeee;
  --dark-gray: #555555;
  --gray: #dddddd;
  --disabled: #aaaaaa;
  --dark-blue: #002a5b;
  --blue: #1356a8;
  --red: #c60c31;
  --dark-red: #870822;
  --black: #49494a;
  --light-black: #444444;
  --white: #fafafa;
  --orange: #faac3d;
  --dark-orange: #e79116;
  --green: #7edc7c;
  --header-height: 100px;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

body.no-scroll {
  overflow: hidden;
}

a {
  border: 0;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

.orange {
  color: var(--orange);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table {
  border-collapse: collapse;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
