.form {
  background-color: var(--dark-blue);
  background-image: url('/images/form.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 640px) {
  .form {
    background-image: url('/images/form_mobile.svg');
  }
}
