.root {
  height: 48px;
  width: 48px;
  background: var(--dark-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .root {
    height: 32px;
    width: 32px;
  }
}
